.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav-class {
  margin: 0 auto;
  max-width: 1200px;
}

.page-section {
  margin: 0 auto;
  max-width: 900px;
  padding-top: 40px;
}
.page-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.page-header {
  font-size: 29px;
  text-align: left;
  padding-left: 18px;
  font-weight: 300;
}

.navbar-light .navbar-brand {
  font-weight: 500;
  font-size: 30px;
}

.card {
  margin: 40px 20px;
}

.card-header {
  text-align: left;
}

.card-title {
  text-align: left;
}

span.author {
  font-size: 14px;
  font-weight: 100;
}

.card-text {
  text-align: left;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.vote-controls {
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.title-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}